.form {
  border: 1px solid var(--gray-light);
  border-radius: 16px;
  padding: 44px 57px;
  width: 641px;
}

.formTitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-bottom: 8px;
}

.formSupText {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
  margin-bottom: 24px;
}

.fieldWrapper {
  position: relative;
  width: 100%;
}

.fieldWrapperWithError {
  margin-bottom: 24px;
}

.fieldWrapperWithError .formInput {
  border: 1px solid var(--button) !important;
  border-radius: 12px;
  padding: 18px 0px 18px 18px;
  width: 527px;
  height: 60px;
  background: #ffdfdf;
  margin-bottom: 4px;
}

.fieldWrapperWithError .error {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--button);
}

.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 24px;
}

.error {
  position: absolute;
  bottom: -20px;
  left: 0;
}

.formInput {
  border-radius: 12px;
  border: none;
  padding: 18px 18px 18px 18px;
  width: 527px;
  height: 60px;
  background: var(--inputs);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
  outline: none;
}

.formInput:hover {
  border: none;
  outline: none;
}

.formInput::placeholder {
  color: var(--gray);
}

.errorContainer {
  position: absolute;
  display: flex;
  align-items: center;
  top: -12px;
  left: 18px;
  border-radius: 8px;
  padding: 0px 8px;
  width: 54px;
  height: 16px;
  background: #ffdfdf;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: #ec383b;
}

.inputErrorIcon {
  position: absolute;
  right: 20px;
  top: 20px;
  fill: #ec383b;
  height: 20px;
  width: 20px;
}

.button {
  border-radius: 200px;
  border: none;
  padding: 16px 60px;
  width: 527px;
  height: 56px;
  background: var(--grey-green);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
}

.button:hover {
  background: var(--green-hover);
}
